<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <groups>
        <exclude>
            <group>slow</group>
        </exclude>
    </groups>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory>tests/Browser</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>backend</directory>
            <directory>.github/scripts</directory>
            <directory>.opencode/evals/bin/includes</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="tests/coverage.txt"/>
            <clover outputFile="tests/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
